{% load static %}

<nav class="bg-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-black hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" onclick="toggleMenu()">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a href="{% url 'home' %}">
            <img class="h-8 w-auto" src="{% static 'images/controlroom.png' %}" alt="Control Room">
          </a>
        </div>
        {% if user.is_authenticated %}
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="{% url 'diary' %}" class="rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">Diary</a>
            <a href="{% url 'finance' %}" class="rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">Finance</a>
            <a href="{% url 'chat' %}" class="rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">Chat</a>
            <a href="{% url 'movies' %}" class="rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">Movies</a>
            <a href="{% url 'tv' %}" class="rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">TV Shows</a>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        {% if user.is_authenticated %}
        <div class="relative ml-3">
          <div>
            <a href="{% url 'profile' %}" class="relative flex rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">
              My Profile
            </a>
          </div>
        </div>
        <div class="relative ml-3">
          <div>
            <a href="{% url 'logout_user' %}" class="relative flex rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">
              Log out
            </a>
          </div>
        </div>
        {% else %}
        <div class="relative ml-3">
          <div>
            <a href="{% url 'login_user' %}" class="relative flex rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">
              Log in
            </a>
          </div>
        </div>
        <div class="relative ml-3">
          <div>
            <a href="{% url 'register_user' %}" class="relative flex rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-700 hover:text-white">
              Register
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  {% if user.is_authenticated %}
  <div class="sm:hidden hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="{% url 'diary' %}" class="block rounded-md px-3 py-2 text-base font-medium text-black hover:bg-gray-700 hover:text-white">Diary</a>
      <a href="{% url 'finance' %}" class="block rounded-md px-3 py-2 text-base font-medium text-black hover:bg-gray-700 hover:text-white">Finance</a>
      <a href="{% url 'chat' %}" class="block rounded-md px-3 py-2 text-base font-medium text-black hover:bg-gray-700 hover:text-white">Chat</a>
      <a href="{% url 'movies' %}" class="block rounded-md px-3 py-2 text-base font-medium text-black hover:bg-gray-700 hover:text-white">Movies</a>
      <a href="{% url 'tv' %}" class="block rounded-md px-3 py-2 text-base font-medium text-black hover:bg-gray-700 hover:text-white">TV Shows</a>
      <a href="{% url 'logout_user' %}" class="block rounded-md px-3 py-2 text-base font-medium text-black hover:bg-gray-700 hover:text-white">Log out</a>
    </div>
  </div>
  {% endif %}
</nav>

<script>
    function toggleMenu() {
        const menu = document.getElementById('mobile-menu');
        menu.classList.toggle('hidden');
    }
</script>
